.alignSpaceBetweenCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h100 {
    height: 100%;
}
.h50 {
    height: 50%;
}
.mb15 {
    margin-bottom: 15px;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/*--------------- Card Type One CSS Start -----------------*/
.cardTypeOne {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    border: 1px solid #fff;
    padding: 15px;
    position: relative;
    cursor: pointer;
}
.cardTypeOne:hover {
    box-shadow: 0px 0px 15px -9px #000;
}
.cardTypeOneInner {
    background-color: #00000080;
    padding: 10px;
    position: absolute;
    width: calc(100% - 30px);
    bottom: 15px;
} 
.cardTypeOne h1 {
    color: #fff;
    margin: 0;
} 
.cardTypeOne p {
    color: #fff;
    margin: 0;
} 
/*--------------- Card Type One CSS End-----------------*/

/*--------------- Card Type Two CSS Start -----------------*/
.cardTypeTwoImage {
    background-size: cover;
    width: 100%;
    height: 200px;
    background-position: center;
}
.cardTypeTwoInner {
    padding: 10px;
    cursor: pointer;
} 
.cardTypeTwoInner:hover {
    box-shadow: 0px 0px 15px -9px #000;
} 
.cardTypeTwoInner p {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    color: #000;
} 
.cardTypeTwoInner h1 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 !important;
} 
.cardTypeTwoFooter h5 {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
}
.cardTypeTwoFooter span {
    font-size: 14px;
    color: #aaa;
}
/*--------------- Card Type Two CSS End-----------------*/

/*--------------- Card Type Three CSS Start -----------------*/
.cardTypeThreeImage {
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.cardTypeThreeInner {
    width: calc(100% - 120px);
} 
.cardTypeThreeInner p {
    margin: 0;
    font-weight: 700;
} 
.cardTypeThreeInner h1 {
    font-size: 16px;
}
/*--------------- Card Type Three CSS End-----------------*/

/*--------------- Card Type Four CSS Start -----------------*/
.cardTypeFour {
    display: flex;
    border: 2px solid #f3f3f3;
    padding: 5px;
    cursor: pointer;
}
.cardTypeFour:hover {
    box-shadow: 0px 0px 15px -9px #000;
}
.cardTypeFourImage {
    background-size: cover;
    width: 50%;
    height: 250px;
    background-position: center;
}

.cardTypeFourInner {
    padding: 10px;
    width: 50%;
}

.cardTypeFourInner p {
    margin: 0;
    font-weight: 600;
    height: 90px;
    overflow: hidden;
}

.cardTypeFourInner h1 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.cardTypeFourFooter h5 {
    margin: 0;
    font-weight: 600;
}

.cardTypeFourFooter span {
    font-size: 14px;
    color: #aaa;
}

/*--------------- Card Type Four CSS End-----------------*/
