.footer {
    margin-top: 20px;
    background-position: center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    box-shadow: inset 0px 0px 0px 1000px #00000054;
    padding: 30px;
}
.footerInner {
    max-width: 700px;
}
.footerInner a {
    max-width: 700px;
    text-decoration: underline;
}